attrs==23.2.0
blinker==1.8.2
cattrs==23.2.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
distlib==0.3.8
filelock==3.15.1
Flask==2.3.1
flatbuffers==24.3.25
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
openmeteo_requests==1.2.0
openmeteo_sdk==1.11.7
pandas==2.2.2
platformdirs==4.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
requests-cache==1.2.1
retry-requests==2.0.0
setuptools==70.0.0
six==1.16.0
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.1
virtualenv==20.26.2
Werkzeug==3.0.3
